---
import type { NonGenericProcessedPub } from "contracts";

import { getFieldValue } from "../lib/getValue";

export interface Props {
	journal: NonGenericProcessedPub;
	title?: string;
}

const journal = Astro.props.journal;
const title = Astro.props.title;

const journalTitle = getFieldValue<string>(journal, "Title");
const avatar = getFieldValue<string | undefined>(journal, "Avatar");
console.log(avatar);
const heroText = getFieldValue<string>(journal, "Hero Text");
const accentColorLight = getFieldValue<string>(journal, "Accent Color Light");
const accentColorDark = getFieldValue<string>(journal, "Accent Color Dark");
console.log(accentColorDark);
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href={avatar ? avatar : "/favicon.svg"} />
		<meta name="generator" content={Astro.generator} />
		<title>{title ? `${title} | ${journalTitle}` : journalTitle}</title>
	</head>
	<body>
		<div class={`text-white p-6`} style={`background-color: ${accentColorDark}`}>
			<div class="container mx-auto">
				<nav class="flex items-center justify-between mb-4">
					<div>
						<img src={avatar} alt={journalTitle} class="w-10 h-10" />
					</div>
					<div class="flex space-x-4">
						<a href="#" class="text-white">Search</a>
						<a href="#" class="text-white">Dashboard</a>
						<a href="#" class="text-white">Login or Signup</a>
					</div>
				</nav>
				<div class="flex space-x-4 text-sm">
					<a href="#" class="text-white">HOME</a>
					<a href="#" class="text-white">ARTICLES</a>
					<a href="#" class="text-white">PUBLISH WITH US</a>
					<a href="#" class="text-white">MASTHEAD</a>
					<a href="#" class="text-white">WORK WITH US</a>
					<a href="#" class="text-white">BLOG</a>
				</div>
			</div>
		</div>

		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
